* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e8ffce;
}

.header {
  background-color: #c51605;
  padding: 20px;
  text-align: center;
}

#companyLogo {
  font-family: "Borel", cursive;
  color: #e8ffce;
  font-weight: bold;
  font-size: 48px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro-section {
  text-align: center;
  margin-bottom: 30px;
}

.intro-section p {
  font-size: 18px;
  line-height: 1.6;
}

strong {
  font-weight: bold;
}

button#actionStart {
  background-color: #c51605;
  color: #e8ffce;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

button#actionStart:hover {
  background-color: #fccb8f;
  color: black;
}

.typing-section {
  text-align: center;
  font-size: 18px;
}

.typing-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.test-text-box {
  background-color: #ffe4a7;
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}

#testText {
  font-size: 18px;
  text-align: center;
}

#testInput {
  width: 100%;
  background-color: #ffe17b;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  resize: none;
}

.time-remaining-box {
  background-color: #c51605;
  color: #e8ffce;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

#timer {
  font-size: 28px;
}
.square-style {
  display: none;
  color: black;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #ffe4a7;
  border-radius: 5%;
  line-height: 2;
  font-family: "Times New Roman", Times, serif;
  border: none;
  border-radius: 5px;
  border: 2px black dotted;
  cursor: pointer;
  margin-bottom: 15px;
}

footer {
  background-color: #ffe17b;
  padding: 10px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  font-size: 14px;
}

#social-icons {
  display: flex;
  gap: 10px;
}

#social-icons a {
  color: #333;
  font-size: 24px;
}

